.header{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
  border-radius: 8px;
}

.text-center{
  text-align: center;
  color: blue;
}

.expense-tracker {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  box-shadow: 0 0 10px gray;
  border-radius: 5px;
}

#in{
  color: green;
}

#ex{
  color: red;
}
.transactions{
  margin: 0;
  padding: 0;
}

.transactions > li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 8px;
}

.transaction-form input{
  width: 100%;
 margin: 10px 0;
 padding: 5px  5px;
}
